{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans 'Password Reset Done' %}{% endblock title %}
{% block content %}
    <!-- Content -->
    <main class="max-w-7xl mx-auto px-3  flex justify-center items-center flex-col my-32">
        <div class="px-7 form flex justify-center items-center flex-col border border-gray-200 rounded-2xl shadow-md w-full md:max-w-6xl py-5">
            {% blocktranslate %}
            <h1 class="mb-3 text-3xl">Password reset sent</h1>
            <p class="tracking-wide text-lg leading-loose">We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly. you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
            {% endblocktranslate %}
        </div>
    </main>
{% endblock %}