{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans 'Password Reset Done' %}{% endblock title %}
{% block content %}
    <!-- Content -->
    <main class="max-w-7xl mx-auto px-3  flex justify-center items-center flex-col my-32">
        <div class="px-7 form flex justify-center items-center flex-col border border-gray-200 rounded-2xl shadow-md w-full md:max-w-6xl py-5">
            <h1 class="mb-3 text-3xl">{% translate "Password reset successfully" %}</h1>
            <p class="tracking-wide text-lg leading-loose">{% translate "Your Password Reset Successfully" %}</p>
            <span class="m-auto" ><a class="border-t border-gray-300 mt-4 rounded-xl px-5 py-2 mb-2 mr-auto block w-fit text-lg bg-blue-50 text-blue-600 hover:text-white hover:bg-blue-400" href="{% url 'users:login' %}">{% translate "Login" %}</a></span>
        </div>
    </main>
{% endblock %}